{lib_dirs, ["deps"]}.
{deps, [
    {axiom, "0.1.0", {git, "git://github.com/tsujigiri/axiom.git", {tag, "v0.1.0"}}},
    {couchbeam, ".*", {git, "git://github.com/benoitc/couchbeam.git", {branch, "master"}}},
    {markdown, ".*", {git, "git://github.com/erlware/erlmarkdown.git", {branch, "master"}}}
]}.
{erl_opts, [{d, 'WITH_JIFFY'}]}.
